@page "/categories"

<PageTitle>Categorías</PageTitle>

@* <h1>Categorías</h1> *@

<div class="container-fluid">

    <div class="card mt-2">

        <div class="card-header">
            <i class="bi bi-bookmarks-fill"></i> <strong>Categorías</strong>
        </div>

        <div class="card-body">

            <p>
                <a class="btn btn-dark btn-sm" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-circle"></i> Nueva categoría</a>
            </p>

            <hr />

            <div class="row mb-3">
                <div class="col">
                    <PageSizeChooser ItemsPerPage="@PaginationGrid.ItemsPerPage" SelectedValueChanged="@OnItemsPerPageChanged" Options="@pageSizeOptions" />
                </div>
                <div class="col">
                    <FilterGrid PlaceHolder="Buscar categoría..." CallBack="FilterCallback" />
                </div>
            </div>

            <hr />

            <div id="view-all">

                @*  <GenericList MyList="Categories!">
                <Body> *@

                <QuickGrid class="table table-striped table-hover" ItemsProvider="CategoriesProvider" Pagination="PaginationGrid" @ref="myGrid">
                    <Microsoft.AspNetCore.Components.QuickGrid.PropertyColumn Property="@(p => p.Name)" Title="Categoría" Class="category-name" />
                    <Microsoft.AspNetCore.Components.QuickGrid.TemplateColumn>
                        <a class="btn btn-outline-dark btn-sm" @onclick=@(() => ShowModalAsync(@context.Id, true)) ><i class="bi bi-pencil-fill"></i></a>
                        <button @onclick=@(() => DeleteAsync(context)) class="btn btn-outline-dark btn-sm"><i class="bi bi-trash3-fill"></i></button>
                    </Microsoft.AspNetCore.Components.QuickGrid.TemplateColumn>
                </QuickGrid>

                <Paginator State="@PaginationGrid" />

                @*     </Body>
                </GenericList> *@

            </div>
        </div>
    </div>

</div>








