@page "/products"

<PageTitle>Productos</PageTitle>


<div class="container-fluid">

    <div class="card mt-2">

        <div class="card-header">
            <i class="bi bi-bookmarks-fill"></i> <strong>Productos</strong>
        </div>

        <div class="card-body">

            <p>
                <a class="btn btn-dark btn-sm" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-circle"></i> Nuevo Producto</a>
            </p>

            <hr />

            <div class="row mb-3">
                <div class="col">
                    <PageSizeChooser ItemsPerPage="@PaginationGrid.ItemsPerPage" SelectedValueChanged="@OnItemsPerPageChanged" Options="@pageSizeOptions" />
                </div>
                <div class="col">
                    <FilterGrid PlaceHolder="Buscar categoría..." CallBack="FilterCallback" />
                </div>
            </div>

            <hr />

            <div id="view-all">

                @*  <GenericList MyList="Categories!">
                <Body> *@

                <QuickGrid class="table table-striped table-hover" ItemsProvider="ProductsProvider" Pagination="PaginationGrid" @ref="myGrid">
                    <PropertyColumn Property="@(p => p.Name)" Title="Producto" Class="products-name" />
                    <PropertyColumn Property="@(p => p.Description)" Title="Descripción" />
                    <PropertyColumn Property="@(p => p.Price)" Title="Precio" />
                    <PropertyColumn Property="@(p => p.Stock)" Title="Stock" />
                    <PropertyColumn Property="@(p => p.ProductCategoriesNumber)" Title="N° categorias" />
                    <PropertyColumn Property="@(p => p.ProductImages)" Title="Imagen" />
                    <TemplateColumn>
                        <a class="btn btn-outline-dark btn-sm" @onclick=@(() => ShowModalAsync(@context.Id, true))><i class="bi bi-pencil-fill"></i></a>
                        <button @onclick=@(() => DeleteAsync(context)) class="btn btn-outline-dark btn-sm"><i class="bi bi-trash3-fill"></i></button>
                    </TemplateColumn>
                </QuickGrid>

                <Paginator State="@PaginationGrid" />

                @*     </Body>
                </GenericList> *@

            </div>
        </div>
    </div>

</div>








