@page "/ChangePassword"

@if(loading)
{
    <Loading/>
}

<div class="login-wrapper d-flex justify-content-center align-items-center">
    <div>
        <div class="col-md-12 mb-4">
            <h3>Cambio de Contraseña</h3>

            <EditForm Model="changePasswordDTO" OnValidSubmit="ChangePasswordAsync">
                <DataAnnotationsValidator />

                <div class="form-group mb-3">
                   <label>Contraseña actual:</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        <InputText type="password" class="form-control" @bind-Value="@changePasswordDTO.CurrentPassword" />
                    </div>
                    <ValidationMessage For="@(() => changePasswordDTO.CurrentPassword)" />
                </div>

                <div class="form-group mb-3">
                    <label>Nueva contraseña</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        <InputText type="password" class="form-control" @bind-Value="@changePasswordDTO.NewPassword" />
                    </div>
                    <ValidationMessage For="@(() => changePasswordDTO.NewPassword)" />
                </div>

                <div class="form-group mb-3">
                    <label>Confirmación nueva contraseña</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        <InputText type="password" class="form-control" @bind-Value="@changePasswordDTO.Confirm" />
                    </div>
                    <ValidationMessage For="@(() => changePasswordDTO.Confirm)" />
                </div>

                <div class="form-group mt-2">
                    <button class="btn btn-primary w-100 mb-2" type="submit">Cambiar contraseña</button>
                    <a class="btn btn-secondary w-100" href="/editUser">Regresar</a>
                </div>

            </EditForm>
        </div>
    </div>
</div>


 

@* 

<div class="login-wrapper mt-5 d-flex justify-content-center align-items-center">
    <div class="login-container p-4 shadow-lg rounded bg-white">

        <div class="col-md-12 mb-4">
            <h3><i class="bi bi-key-fill"></i> Cambio de Contraseña</h3>

            <EditForm Model="changePasswordDTO" OnValidSubmit="ChangePasswordAsync">
                <DataAnnotationsValidator />

                <div class="form-group mb-3">
                    <label>Contraseña actual:</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        <InputText type="password" class="form-control" @bind-Value="@changePasswordDTO.CurrentPassword" />
                        <ValidationMessage For="@(() => changePasswordDTO.CurrentPassword)" />
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label>Nueva contraseña</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        <InputText type="password" class="form-control" @bind-Value="@changePasswordDTO.NewPassword" />
                        <ValidationMessage For="@(() => changePasswordDTO.NewPassword)" />
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label>Confirmación nueva contraseña</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        <InputText type="password" class="form-control" @bind-Value="@changePasswordDTO.Confirm" />
                        <ValidationMessage For="@(() => changePasswordDTO.Confirm)" />
                    </div>
                </div>

                <div class="form-group mt-2">
                    <button class="btn btn-primary w-100 mb-2" type="submit">Cambiar contraseña</button>
                    <a class="btn btn-secondary w-100" href="/editUser">Regresar</a>
                </div>

            </EditForm>
        </div>
    </div>
</div>

 *@