@page "/EditUser"



@if (user is null)
{
    <Loading />
}
else
{

    <div class="center-form mt-5 d-flex justify-content-center align-items-center">
        <div class="card mt-3 shadow-lg rounded bg-white">

            <div class="card-header">
                <i class="bi bi-person-fill"></i> <strong>Editar Usuario</strong>
            </div>

            <div class="card-body">

                <EditForm Model="user" OnValidSubmit="SaveUserAsync">
                    <DataAnnotationsValidator />

                    <div class="row">

                        <div class="col-md-12 mt-3">


                            <div class="row">

                                <div class="col-md-6">

   

                                    <div class="form-group mb-3">
                                        <label for="first-name">Nombres:</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                            <InputText id="first-name" class="form-control" @bind-Value="@user.FirstName" />
                                        </div>
                                        <ValidationMessage For="@(() => user.FirstName)" />
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="last-name">Apellidos:</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                                            <InputText id="last-name" class="form-control" @bind-Value="@user.LastName" />
                                        </div>
                                        <ValidationMessage For="@(() => user.LastName)" />
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="document">Documento:</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-card-text"></i></span>
                                            <InputText id="document" class="form-control" @bind-Value="@user.Document" />
                                        </div>
                                        <ValidationMessage For="@(() => user.Document)" />
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="phone">Teléfono:</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                                            <InputText id="phone" class="form-control" @bind-Value="@user.PhoneNumber" />
                                        </div>
                                        <ValidationMessage For="@(() => user.PhoneNumber)" />
                                    </div>
                               
                                </div>

                                <div class="col-md-6">

                                    <div class="form-group mb-3">
                                        <label for="country">País:</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-globe"></i></span>
                                            <select id="country" class="form-select" @onchange="CountryChangedAsync">
                                                <option value="0">Seleccione un país</option>
                                                @if (countries is not null)
                                                {
                                                    @foreach (var country in countries)
                                                    {
                                                        <option value="@country.Id" selected="@(country.Id == user.City!.State!.Country!.Id)">@country.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="state">Región:</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-map"></i></span>
                                            <select id="state" class="form-select" @onchange="StateChangedAsync">
                                                <option value="0">Seleccione una región</option>
                                                @if (states is not null)
                                                {
                                                    @foreach (var state in states)
                                                    {
                                                        <option value="@state.Id" selected="@(state.Id == user.City!.State!.Id)">@state.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="city">Ciudad:</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-building"></i></span>
                                            <select id="city" class="form-select" @bind="user.CityId">
                                                <option value="0">Seleccione una ciudad</option>
                                                @if (cities is not null)
                                                {
                                                    @foreach (var city in cities)
                                                    {
                                                        <option value="@city.Id" selected="@(city.Id == user.City!.Id)">@city.Name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <ValidationMessage For="@(() => user.CityId)" />
                                    </div>
                    

                                    <div class="form-group mb-3">
                                        <label for="address">Dirección:</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-house-fill"></i></span>
                                            <InputText id="address" class="form-control" @bind-Value="@user.Address" />
                                        </div>
                                        <ValidationMessage For="@(() => user.Address)" />
                                    </div>

                                </div>


                                <div class="form-group mb-3">
                                    <div class="mb-3 label-photo">
                                        <InputImg Label="Foto" ImageSelected="ImageSelected" ImageURL="@imageUrl" />
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="card-footer bg-transparent text-center mt-3">
                        <div class="text-center mb-2">
                            <button class="btn btn-primary w-100" type="submit">Guardar</button>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-secondary w-100" @onclick=@(() => ShowModal())>Cambiar Contraseña</a>
                             @* <a class="btn btn-secondary w-100" href="/changePassword">Cambiar Contraseña</a>  *@
                        </div>
                    </div>

                </EditForm>

            </div>
        </div>
    </div>

}


