@page "/api/accounts/ResetPassword"
@if (loading)
{
    <Loading />
}

<div class="login-wrapper mt-5">
    <div class="login-container">

        <div class="col-md-12">
            <h3><i class="bi bi-key-fill"></i> Cambio de Contraseña</h3>

            <EditForm Model="resetPasswordDTO" OnValidSubmit="ChangePasswordAsync">
                <DataAnnotationsValidator />

                <div class="form-group">

                    <label>Email:</label>
                    <div>
                        <InputText type="password" class="form-control" @bind-Value="@resetPasswordDTO.Email" />
                        <ValidationMessage For="@(() => resetPasswordDTO.Email)" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Nueva contraseña</label>
                    <div>
                        <InputText type="password" class="form-control" @bind-Value="@resetPasswordDTO.Password" />
                        <ValidationMessage For="@(() => resetPasswordDTO.Password)" />
                    </div>
                </div>
                <div class="form-group">
                    <label>Confirmar contraseña:</label>
                    <div>
                        <InputText type="password" class="form-control" @bind-Value="@resetPasswordDTO.ConfirmPassword" />
                        <ValidationMessage For="@(() => resetPasswordDTO.ConfirmPassword)" />
                    </div>
                </div>
                <div class="form-group mt-2">
                    <button class="btn btn-primary" type="submit">Cambiar contraseña</button>
                </div>

            </EditForm>
        </div>
    </div>
</div>
