@page "/countries"

<PageTitle>Paises</PageTitle>

@* <h1>Paises</h1> *@


<div class="container-fluid">

    <div class="card mt-2">

        <div class="card-header">
            <i class="bi bi-globe-americas"></i> <strong>Paises</strong>
        </div>

        <div class="card-body">

            <p>
                <a class="btn btn-dark btn-sm" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-circle"></i> Nuevo País</a>
            </p>

            <hr />

            <div class="row mb-3">
                <div class="col">
                    <PageSizeChooser ItemsPerPage="@PaginationGrid.ItemsPerPage" SelectedValueChanged="@OnItemsPerPageChanged" Options="@pageSizeOptions" />
                </div>
                <div class="col">
                    <FilterGrid PlaceHolder="Buscar País..." CallBack="FilterCallback" />
                </div>
            </div>

            <hr />

            <div id="view-all">
@* 
                <GenericList MyList="Countries!">
                <Body>*@

                <QuickGrid class="table table-striped table-hover" ItemsProvider="CountriesProvider" Pagination="PaginationGrid" @ref="myGrid">
                    <TemplateColumn Title="País" Class="country-name">
                        <a href="/countries/details/@context.Id">@context.Name</a>
                    </TemplateColumn>
                    <PropertyColumn Property="@(p => p.StatesNumber)" Title="N° de Regiones"/>
                    <TemplateColumn>
                        <a class="btn btn-outline-dark btn-sm" @onclick=@(() => ShowModalAsync(@context.Id, true))><i class="bi bi-pencil-fill"></i></a>
                        <button @onclick=@(() => DeleteAsync(context)) class="btn btn-outline-dark btn-sm"><i class="bi bi-trash3-fill"></i></button>
                    </TemplateColumn>
                        </QuickGrid>

                    <Paginator State="PaginationGrid" />

                 @*    </Body>
                </GenericList> *@

            </div>
        </div>
    </div>

</div>



